<!doctype html>
<head>
    <title>Gestio de reserves</title>
</head>
<body>
    <style>
        html {
            font-family: sans-serif;
        }
         input {
            font-size: 1em;
            width: 1.5em;
        }
    </style>
    <form id="editor" method="POST">
        {% for dia in reserves %}
        {% set i = loop.index0 %}
        <h2>{{ dia.nom }}</h2>
        <ul>
            {% for activitat in dia.activitats %}
            {% set j = loop.index0 %}
            <li>
            <aside> 
                {{ activitat.nom }}:
            </aside>
                {% for placa in activitat.places %}
                {% if placa %}
                <input name="{{ i }}_{{ j }}_{{ loop.index0 }}"
                   type="checkbox" checked />
                {% else %}
                <input name="{{ i }}_{{ j }}_{{ loop.index0 }}"
                   type="checkbox" />
                {% endif %}             
                {% endfor %}
                
                                             
            </li>
            <br>
            {% endfor %}
        </ul>
        
        {% endfor %}
    </form>
    <script>
        var inputs = document.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
           inputs[i].addEventListener('click', e => {
                document.getElementById('editor').submit();
            });
        }
    </script>
</body>
