<!doctype html>
<head>
    <title>Places disponibles</title>
    <meta http-equiv='refresh' content = '5'>
    <style>
        html {
            font-family: sans-serif;
        }
        h2 {
            border-bottom: 3px solid #CCC;
        }
        input {
            font-size: 3em;
            width: 1.5em;
        }
    </style>
</head>
<body>
   <h1>{{ dia.nom }}</h1>
   {% for activitat in dia.activitats %}
   <br>
   <h2>{{ activitat.nom }}</h2>
   Places disponibles: <input type = 'text' value="{{activitat.disponibles}}">
   </br>
   {% endfor %}
</body>
