<!doctype html>
<head>
    <title>Places disponibles</title>
</head>
<body>
    <ul>
        <li><a href= '/admin_fabrica'>Admin_fabrica</a></li>
        {% for dia in reserves %}
        <li><a href = "/fabrica/dia/{{ loop.index0 }}">{{ dia.nom }}</a></li>
        {% endfor %}
        <br>
        <br>
        <li><a href= '/admin_prohibit'>Admin_prohibit</a></li>
        {% for dia in reserves %}
        <li><a href = "/prohibit/dia/{{ loop.index0 }}">{{ dia.nom }}</a></li>
        {% endfor %}
    </ul>
</body>
